.cat-area{
    background-color: #FFFFFF;
}
.cat-area .container{
    max-width: 1140px;
}
.cat-area .container .row{
    align-items: center;
    padding: 20px;
}
.cat-card .icon{
   height: 74px;
    width: 64px;
}
.cat-card .icon i{
    font-size: 30px;
    margin-right: auto;
}
.cat-card h3{
    font-size: 18px;
    margin: 23px 0 20px;
}
.cat-card p{
    font-size: 15px
}