.review{
    background: url(./assets/feedback-bg.jpg.webp) center;
    background-size: cover;
    position: relative;
}
.review .content {
    position: relative;
    padding: 80px 50px;
}
.review .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.overlay .overlay-bg{
    background: #000;
    opacity: 0.7 !important;
}
.review .content .header{
    padding-bottom: 30px;
}
.review .content .review-content img{
    width: 100%;
}
.review .content .feedback h4{
   padding-right: 20px;
}
.review .content .feedback .icons i{
  padding-right: 5px;
}
.review .content .feedback .icons i{
    color: rgb(161, 160, 160);
}
.review .content .feedback .icons .active{
    color: #fab700;
}
.review .content .feedback p{
}

@media (max-width: 768px) {
  .review .img{
    margin-bottom: 30px;
  }
} 