.navbar{
    background-color: #FFFFFF !important;
}
.navbar .container{
}
.navbar .navbar-brand{
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
}
.navbar .nav-item{
    font-size: 14px;
}