.about{
    background-color: #F9F9FF;
}
.about .container{
    padding: 70px 30px;
}
.about .btn {
    margin-top: 10px;
    background-color: #fab700 !important;
    padding: 10px 30px;
    border: 1px solid transparent !important;
    color: #fff !important;
    border-radius: 0;
    opacity: 1 !important;
}
.about h6{
    color: #fab700;
    font-weight: 300;
    padding-bottom: 10px;
}
.about h1{
    margin-bottom: 30px;
}
.about .about-content p{
    font-size: 18px;
    margin-bottom: 20px;
}
.about .about-form {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/form-bg.jpg.webp);
    background-size: cover;
}
.about .about-form legend{
    color: #fff;
    margin-bottom: 15px;
}
.about form{
    padding: 30px;
    position: relative;
}
.about .about-form .form-control,
.about .about-form .form-select
{
    background: transparent;
    border-radius: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: #fff !important;
    padding: 15px 10px;
    font-size: 16px;
}
.about .about-form .form-control::placeholder{
    color: #fff;
}

@media (max-width: 768px) {
  .about .btn {
    margin-bottom: 50px;
  }
}